<!DOCTYPE html>
{% extends 'base.html' %}

{% block content %}
<form>
  <div class="row">
    <div class="large-4 columns">
      <label>Course:
        <input type="text" name="class_for">
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-4 columns">
      <label>Starting date and time (Please use the format: yyyy/mm/dd hh:mm)
      <input type="text" name="start_datetime">
      </label>
    </div>
    <div class="row">
    <div class="large-4 columns">
      <label>Predicted ending date and time (Please use the format: yyyy/mm/dd hh:mm)
      <input type="text" name"end_datetime">
      </label>
    </div>
</form>